:root{

    --color:#3a68b7;
}

html{
font-family: "Helvetiva Neue" , Arial, sans-serif;
color: white;
background-color: var(--color);

}

body{
display: flex;
justify-content: center;
align-items:center ;
min-height: 100vh;
margin: 0;
color: var(--color);


}

form{

width: 90%;
min-width: 450px; 
max-width: 560px;
background-color: white;
padding: 1em;
box-shadow: 5px 10px 5px rgb(56, 55, 55);


}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
  
}


label,
input
{

    display: block;
    width: 100%;
    box-sizing: border-box;


}

input{
    border: 2px solid transparent;
    border-bottom-color: var(--color);
    padding: .75em;
    margin: .5em 0 2.5em;
color: var(--color);
}


input:focus{

    border-bottom: 2px solid var(--color);
    background-color:#ccc;
    color: white;
    outline: 0;
}

input:invalid:focus{

    color:rgb(170, 44, 44);
    background-color: white;
    
}

input:valid:focus{

    color: var(--color);
    border-bottom: 2px solid rgb(28, 97, 28);

}

legend{
    text-align: center;
    padding: .5em;
    font-weight: bold;
    color: var(--color);
    font-size: 1.3em;
}


.botão{

    background-color:var(--color);
    color: white;
    cursor: pointer;
    padding: .5em;
    font-size: 1.2em;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    letter-spacing: 1px;
}


.botão2{
color: var(--color);
text-transform: uppercase;
background-color: white;
border:none;
font-weight: bolder;
text-decoration: none;
padding-right: 50px;
}
.login{
    gap: 150px;
    display: flex;

}

a{
margin-left: 10px;
}